<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>KHDTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPage</display-name>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>servlet.MyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomePage</display-name>
    <servlet-name>WelcomePage</servlet-name>
    <servlet-class>servlet.WelcomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePage</servlet-name>
    <url-pattern>/WelcomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationRoom</display-name>
    <servlet-name>ReservationRoom</servlet-name>
    <servlet-class>servlet.ReservationRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationRoom</servlet-name>
    <url-pattern>/ReservationRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Callender</display-name>
    <servlet-name>Callender</servlet-name>
    <servlet-class>servlet.Callender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Callender</servlet-name>
    <url-pattern>/Callender</url-pattern>
  </servlet-mapping>
</web-app>